<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<instrumentationManifest xmlns="http://schemas.microsoft.com/win/2004/08/events" xmlns:trace="http://schemas.microsoft.com/win/2004/08/events/trace" xmlns:win="http://manifests.microsoft.com/win/2004/08/windows/events" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.microsoft.com/win/2004/08/events eventman.xsd">
  <instrumentation>
    <counters xmlns="http://schemas.microsoft.com/win/2005/12/counters" xmlns:auto-ns1="http://schemas.microsoft.com/win/2004/08/events" schemaVersion="1.1">
      <provider providerGuid="{9E99FD02-CB8D-4E45-8BE0-6B0C44425ED9}" applicationIdentity="@RESOURCE_ASSEMBLY_PATH@\Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.dll" providerName="MicrosoftTeamFoundationWorkItemTrackingServerDataAccessLayer" providerType="userMode" symbol="MicrosoftTeamFoundationWorkItemTrackingServerDataAccessLayer" callback="custom">
        <counterSet guid="{43FB703C-902B-42DC-A3D5-4AB4AF7E64BC}" name="TFS WorkItem Tracking" description="Counters for Work Item Tracking in Azure DevOps Server" instances="globalAggregate" symbol="TFSWorkItemTracking" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters" xmlns="http://schemas.microsoft.com/win/2005/12/counters">
          <counter id="1" name="Active Query Requests" description="The number of queries currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.QueryRequests" />
          <counter id="2" name="Active Paging Requests" description="The number of paging requests currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.PagingRequests" />
          <counter id="3" name="Active GetWorkitem Requests" description="The number of work Item requests currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.GetWorkitemRequests" />
          <counter id="4" name="Active Update Requests" description="The number of updates currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.UpdateRequests" />
          <counter id="5" name="Active GetMetadata Requests" description="The number of cache updates currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.GetMetadataRequests" />
          <counter id="6" name="Active GetStoredQuery Requests" description="The number of stored query requests currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.GetStoredQueryRequests" />
          <counter id="7" name="Active GetStoredQueries Requests" description="The number of stored queries requests currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.GetStoredQueriesRequests" />
          <counter id="8" name="Active GetQueryAccessControlList Requests" description="The number of access control list query requests currently executing." type="perf_counter_rawcount" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.GetQueryAccessControlList" />
          <counter id="9" name="ReadLatest Access Elevations/Sec" description="ReadLatest Access Elevations/Sec is the rate at which requests are elevated to ReadLatest access" type="perf_counter_counter" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.ReadLatestAccessElevationsPerSec" />
          <counter id="10" name="Write Access Elevations/Sec" description="Write Access Elevations/Sec is the rate at which requests are elevated to Write access" type="perf_counter_counter" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.WriteAccessElevationsPerSec" />
          <counter id="11" name="Latency Window Starts/Sec" description="Latency Window Starts/Sec is the rate at which server responses initiate latency time window per user - used if replication is enabled" type="perf_counter_counter" detailLevel="standard" uri="Microsoft.TeamFoundation.WorkItemTracking.Server.DataAccessLayer.PerformanceCounters.LatencyWindowStartsPerSec" />
        </counterSet>
      </provider>
    </counters>
  </instrumentation>
</instrumentationManifest>